@use '../abstracts/variables' as *;

.notice {
    position: relative;

    &__inner {
        border: $border-width solid $white;
        border-radius: $border-radius;
        padding: 20px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $bg;
        box-shadow: 0px 0px 25px 0px rgb(255 255 255 / 20%);
        z-index: $z-notice;
    
        * {
            margin: 0;
        }
    }
}

/* Add this to your existing styles or create a new section for transitions */
.notice-enter {
    .notice__inner {
        opacity: 0;
        transform: translateY(-35px);
    }
}

.notice-enter-active {
    .notice__inner {
        opacity: 1;
        transform: translateY(0);
        transition: all 300ms ease-in;
    }
}

.notice-exit {
    .notice__inner {
        opacity: 1;
        transform: translateY(0);
    }
}

.notice-exit-active {
    .notice__inner {
        opacity: 0;
        transform: translateY(-35px);
        transition: all 300ms ease-in;
    }
}