@use '../abstracts/variables' as *;
@use '../abstracts/mixins/star' as star;

.slot {
    width: 100%;
    height: 100%;
    
    &__inner {
        position: relative;
        background-color: var(--#{$prefix}dark);
        border: $border-width solid var(--#{$prefix}white);
        border-radius: $border-radius;
        padding: $slot_padding;
        text-align: center;
        cursor: pointer;

        aspect-ratio: 1/1;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        * {
            margin: 0;
        }


        &:hover {
            animation: tilt-shaking 0.25s linear infinite;
        }
    }

    &__pattern {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        &:before,
        &:after {
            content: '';
            position: absolute;
            background-color: var(--#{$prefix}white);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:before {
            height: 100%;
            width: $slot_pattern_size;
            transition: 0.3s ease-in-out height;
        }

        &:after {
            width: 100%;
            height: $slot_pattern_size;
            transition: 0.3s ease-in-out width;
            transition-delay: 0.3s;
        }
    }

    &__number {
        @include star.star('.slot__number-id');
    }

    &.\--is-open {
        .slot__pattern {
            &:before {
                height: 0;
            }

            &:after {
                width: 0;
            }
        }
    }
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(1.5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-1.5deg); }
    100% { transform: rotate(0deg); }
}