@font-face {
    font-family: 'Courgette';
    src: url('../../fonts/courgette/Courgette-Regular.woff2') format('woff2'),
        url('../../fonts/courgette/Courgette-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
