// Abstracts
@use './abstracts/variables' as *;
@use './abstracts/root-variables' as *;

// Vendor / 3rd Party Assets
@use './vendor/normalise';

// Bootstrap Customised
@use './bootstrap/components/container';

// Components
@use './components/notice';
@use './components/slot';
@use './components/active-slot';
@use './components/back-arrow';
@use './components/animations/fade';

// Elements
@use './elements/headings';

// Mixins
@use './bootstrap/mixins/breakpoints' as breakpoint;

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
    color: $white;
    background: repeating-linear-gradient(
        135deg,
        var(--#{$prefix}body-background-stripe-1),
        var(--#{$prefix}body-background-stripe-1) var(--#{$prefix}body-background-stripe-size),
        var(--#{$prefix}body-background-stripe-2) var(--#{$prefix}body-background-stripe-size),
        var(--#{$prefix}body-background-stripe-2) calc(var(--#{$prefix}body-background-stripe-size) * 2)
    );
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $font;
    font-size: var(--#{$prefix}body-font-size);
    line-height: var(--#{$prefix}body-line-height);
}

* {
    box-sizing: border-box;
}

// Implement a better method
#advent-calendar {
    padding: 50px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .inner {
        width: 100%;
    }
}
.slots {
    padding: var(--#{$prefix}slots-padding);
    background-color: var(--#{$prefix}slots-background);
    border: $border-width solid var(--#{$prefix}white);
    border-radius: $border-radius;

    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: $gutter;
        margin: 0 calc(var(--advent-calendar-gutter-x) * -0.5);
    }
    
    .slot {
        flex: 0 0 16.666%;
        max-width: 16.666%;
        padding: 0 calc(var(--advent-calendar-gutter-x) * 0.5);

        @include breakpoint.media-breakpoint-down(lg) {
            flex: 0 0 20%;
            max-width: 20%;
        }

        @include breakpoint.media-breakpoint-down(md) {
            flex: 0 0 25%;
            max-width: 25%;
        }

        @include breakpoint.media-breakpoint-down(sm) {
            flex: 0 0 33.333%;
            max-width: 33.333%;
        }

        @include breakpoint.media-breakpoint-down(xs) {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}